In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("Churn.csv")

In [3]:
df.tail()

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
7038  6840-RESVB    Male              0  ...          84.80       1990.5     No
7039  2234-XADUH  Female              0  ...         103.20       7362.9     No
7040  4801-JZAZL  Female              0  ...          29.60       346.45     No
7041  8361-LTMKD    Male              1  ...          74.40        306.6    Yes
7042  3186-AJIEK    Male              0  ...         105.65       6844.5     No

[5 rows x 21 columns]

In [4]:
# drop some unimprotant columns 
df.drop(["customerID"],axis=1,inplace=True)
#axis = o is rows and axis=1 means columns

In [5]:
df.head()

   gender  SeniorCitizen Partner  ... MonthlyCharges  TotalCharges Churn
0  Female              0     Yes  ...          29.85         29.85    No
1    Male              0      No  ...          56.95        1889.5    No
2    Male              0      No  ...          53.85        108.15   Yes
3    Male              0      No  ...          42.30       1840.75    No
4  Female              0      No  ...          70.70        151.65   Yes

[5 rows x 20 columns]

In [6]:
# A number columns is fixed as a Object columns 
## NOTE:- The next line is commented out, but you should uncomment it and run it so you can see  the error that is generates
## The only reason it's commented out is that if you want to just run the python code once, the next line will cause python to 
## quite early coz it create an error 

## However the error is useful for learning how to spot missing data, so that's why you should uncomment nd ran it if you can 
df["TotalCharges"] = pd.to_numeric(df["TotalCharges"])

ValueError: ignored

In [7]:
len(df.loc[df["TotalCharges"]==" "])

11

In [8]:
# we can see that 11 rows have missing values " "
df.loc[df["TotalCharges"]==" "]

      gender  SeniorCitizen Partner  ... MonthlyCharges  TotalCharges Churn
488   Female              0     Yes  ...          52.55                  No
753     Male              0      No  ...          20.25                  No
936   Female              0     Yes  ...          80.85                  No
1082    Male              0     Yes  ...          25.75                  No
1340  Female              0     Yes  ...          56.05                  No
3331    Male              0     Yes  ...          19.85                  No
3826    Male              0     Yes  ...          25.35                  No
4380  Female              0     Yes  ...          20.00                  No
5218    Male              0     Yes  ...          19.70                  No
6670  Female              0     Yes  ...          73.35                  No
6754    Male              0      No  ...          61.90                  No

[11 rows x 20 columns]

we can see that all 11 people with Total_Charges==" ", have just singed up,Coz Tenure_Months is 0,These people also have Churn value set to 0 coz they'r just singed up.So we've a few choice here, we can set Total_Charges to 0 for this 11 people or we remove them. In this example, we try to setting Total_Charges to 0

In [9]:
df.loc[(df["TotalCharges"]==" "),"TotalCharges"]=0

now let's varify that we  modifyed Total_Charges correctly by lookin at everyone who have tenure_month set to 0

In [10]:
df.loc[df["tenure"]==0]

      gender  SeniorCitizen Partner  ... MonthlyCharges  TotalCharges Churn
488   Female              0     Yes  ...          52.55             0    No
753     Male              0      No  ...          20.25             0    No
936   Female              0     Yes  ...          80.85             0    No
1082    Male              0     Yes  ...          25.75             0    No
1340  Female              0     Yes  ...          56.05             0    No
3331    Male              0     Yes  ...          19.85             0    No
3826    Male              0     Yes  ...          25.35             0    No
4380  Female              0     Yes  ...          20.00             0    No
5218    Male              0     Yes  ...          19.70             0    No
6670  Female              0     Yes  ...          73.35             0    No
6754    Male              0      No  ...          61.90             0    No

[11 rows x 20 columns]

In [11]:
df["TotalCharges"]= pd.to_numeric(df["TotalCharges"])
df["TotalCharges"].dtypes

dtype('float64')

In [12]:
df.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [13]:
df = df.fillna(df.mean)

In [14]:
df.isna().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [15]:

df['Churn'] = np.where(df.Churn == 'Yes',1,0)

In [16]:
df.head()

   gender  SeniorCitizen Partner  ... MonthlyCharges  TotalCharges Churn
0  Female              0     Yes  ...          29.85         29.85     0
1    Male              0      No  ...          56.95       1889.50     0
2    Male              0      No  ...          53.85        108.15     1
3    Male              0      No  ...          42.30       1840.75     0
4  Female              0      No  ...          70.70        151.65     1

[5 rows x 20 columns]

In [17]:
df_dummies = pd.get_dummies(df)
df_dummies.head()

   SeniorCitizen  ...  PaymentMethod_Mailed check
0              0  ...                           0
1              0  ...                           1
2              0  ...                           1
3              0  ...                           0
4              0  ...                           0

[5 rows x 46 columns]

In [18]:
df_dummies.shape

(7043, 46)

In [19]:
df_dummies.to_csv('new_churn.csv')